*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.cover-photo-container {
    height: 65vw;
} 

.cover-photo {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
}

.cover-title {
    position: absolute;
    font-size: 15vw;
    top: 10%;
    left: 14%;
    margin: auto;
}

#team-section{
    padding-top: 60px;
}

.team-title h1{
    font-size: 50px;
    color: black;
    text-align: center;
    position: relative;
    margin-bottom: 5vh;
}

.team-cards {
    width: 80%;
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 10px auto;
    flex-wrap: wrap;
    align-content: space-evenly;
    gap: 2em;
}

.team-card {
    /*background-color: rgb(241, 241, 241); */
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 30px;
    box-shadow: 0px 2px 5px rgba(0,0,0, 0.2);
    margin: 0px 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.6s ease;
    width: calc(25% - 10px);
}

.team-card:hover{
    transform: translateY(-12px);
    background-color: rgb(242, 236, 236);
}

.team-image img{
    border-radius: 50%;
    height: 130px;
    width: 130px;
    object-fit: cover;
    margin-bottom: 5px;
}

.team-detail h3{
    font-size: 2vh;
    margin: 3px 0px;
}

.team-detail p{
    color: grey;
    font-size: 2vh;
}

#contact {
    padding-top: 60px;
}
.contact-header {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}
.contact-description {
    font-size: 20px;
    text-align: center;
}
.contact-container {
    display: flex;
    width: 50%;
    margin-top: 20px ;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .team-cards{
        direction: flex;
        flex-direction: column;
    }    
    .team-card{
        width: 85%;
        margin: 1px auto;
    }
}

